@charset "utf-8";
/* CSS Document */
/***************************** FROMULÁRIO DE CADASTRO **************************/
.div_principla{
    width: 100%;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}
.procura_imagem{
    margin: 5px;
    margin-top: 10px;
    background-color:#003b66;
    font-size: 16px;
    padding: 3px;
    color:white;
    letter-spacing: 1px;
}
.linha_form_cadastro_produto{
    margin-left: 5px;
    margin-bottom: 5px;
}
.linha_form_cadastro_produto span{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    background-color: #003b66;
    display: inline-block;
    width: 99%;
    padding: 3px;
    color:white;
    letter-spacing: 1px;
}
.titulo{
    margin-top: 10px;
    display: flex;
    margin-left: 33px;
}
/************************** COLUNAS TAMANHOS *****************************/
.coluna_tamanhos{
    display: flex;
}
.colunas_tamanhos_esquerda{
    width: 50%;
}
.colunas_tamanhos_centro{
    width: 25%;
    text-align: center;
}
.colunas_tamanhos_direita{
    width: 25%;
}
.colunas_tamanhos_direita  label {
    display: block;
    margin-left: 20px;
}
.colunas_tamanhos_centro  label {
    display: block;
}
.colunas_tamanhos_esquerda label{
    display: block;
}
.colunas_tamanhos_esquerda input{
    margin-left: 25px;
    margin-bottom: 10px;
}
.colunas_tamanhos_centro input{
    margin-bottom: 24px;
}
.colunas_tamanhos_direita input{
    margin-left: 22px;
    margin-bottom: 24px;
}
/************************** COLUNAS CORES *****************************/
.coluna_cores{
    display: flex;
}
.coluna_esquerda_cores{
    text-align: left;
    width: 34%;
}
.coluna_centro_cores{
    width: 33%;
}
.coluna_direita_cores{
    width: 33%;
}
.coluna_direita_cores  label {
    display: block;
}
.coluna_centro_cores  label {
    display: block;
}
.coluna_esquerda_cores label{
    display: block;
}
.coluna_esquerda_cores input{
    margin-bottom: 10px;
}
.coluna_centro_cores input{
    margin-bottom: 10px;
}
.coluna_direita_cores input{
    margin-bottom: 10px;
}
/*******************************    CAMPOS EXTRAS *********************************/
.campos_extras{
    display: block;
    margin-bottom: 15px;
}
.linha_quantidade label{
    display: flex;
    margin-left: 3px;

}
.linha_quantidade input{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 3px;
}
.linha_valorproduto label{
    display: flex;
    margin-left: 3px;
}
.linha_valorproduto input{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 3px;
}
.linha_custoproduto label{
    display: flex;
    margin-left: 3px;
}
.linha_custoproduto input{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 3px;
}
.linha_botao_submit{
    padding: 5px;
    text-align: center;
}
.linha_botao_submit input{
    width: 100px;
    height: 30px;
    background-color: #003b66;
    color: white;
    letter-spacing: 2px;
}
/***************************** FIM FROMULÁRIO DE CADASTRO *********************/